$primary-color: #fdb232;
$secondary-color: #02b8a2;
$highlight-color: #fdd400;
$loud-color: #db1796;
$background-color: #01535f;

$regular-fonts: 'courier', serif;
$header-fonts: 'verdana', sans-serif;

$layout-breakpoint-min-xs: 0px;
$layout-breakpoint-min-s: 576px;
$layout-breakpoint-min-m: 768px;
$layout-breakpoint-min-lg: 992px;
$layout-breakpoint-min-xg: 1200px;
$layout-breakpoint-max-xs: 575px;
$layout-breakpoint-max-s: 767px;
$layout-breakpoint-max-m: 991px;
$layout-breakpoint-max-lg: 1199px;
$layout-breakpoint-max-xg: 3841px;

$layouts: (
  min-xs: $layout-breakpoint-min-xs,
  min-s: $layout-breakpoint-min-s,
  min-m: $layout-breakpoint-min-m,
  min-lg: $layout-breakpoint-min-lg,
  min-xg: $layout-breakpoint-min-xg,
  max-xs: $layout-breakpoint-max-xs,
  max-s: $layout-breakpoint-max-s,
  max-m: $layout-breakpoint-max-m,
  max-lg: $layout-breakpoint-max-lg,
  max-xg: $layout-breakpoint-max-xg,
);

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.highlight-color {
  color: $highlight-color;
}

.background-color {
  color: $background-color;
}

.loud-color {
  color: $loud-color;
}

.primary-bg {
  background-color: $primary-color;
}

.secondary-bg {
  background-color: $secondary-color;
}

.highlight-bg {
  background-color: $highlight-color;
}

.background-bg {
  background-color: $background-color;
}

.loud-bg {
  background-color: $loud-color;
}

.hide-xs {
  @include media-size(xs) {
    display: none !important;
  }
}

.hide-s {
  @include media-size(s) {
    display: none !important;
  }
}

.hide-md {
  @include media-size(md) {
    display: none !important;
  }
}

.hide-lg {
  @include media-size(lg) {
    display: none !important;
  }
}

.hide-xg {
  @include media-size(xg) {
    display: none !important;
  }
}